@define-color foreground #d0c7bb;
@define-color background #0d0c0a;
@define-color cursor #d0c7bb;
@define-color color0 #0d0c0a;
@define-color color1 #f28fad;
@define-color color2 #abe9b3;
@define-color color3 #fae3b0;
@define-color color4 #96cdfb;
@define-color color5 #f4b8e4;
@define-color color6 #89dceb;
@define-color color7 #d0c7bb;
@define-color color8 #776e71;
@define-color color9 #f28fad;
@define-color color10 #abe9b3;
@define-color color11 #fae3b0;
@define-color color12 #96cdfb;
@define-color color13 #f4b8e4;
@define-color color14 #89dceb;
@define-color color15 #f5efdd;
